.phone-wrapper {
    font-size: 30px;
}

.div-wrapper {
    display: flex;
}

.block {
    height: 65px;
    border-radius: 5px;
    width : 50px;
    margin: auto 5px;
    text-align: center;
}

.grey-block {
    background-color: #f0f0f0;
    display: table;
}

.grey-block span, .symbol-block span {
    display: table-cell;
    vertical-align: middle;
}

.symbol-block {
    height: 65px;
    display: table;
}

.input-block {
    font-size: 30px;
    border: 2px solid #e0e0e0;
    background-color: transparent;
}

.input-block:hover {
    border-color: #c2c2c2;
}

.input-block:focus {
    border: 2px solid #858585;
    outline: none;
}

.error input{
    border: 2px solid #ff1100;
}

.error-message {
    font-size: 30px;
    color: #ff1100;
}